# Do not track the reference library
__init__.py
# Do not track archives
*.tar
*.tar.gz
*.tar.bz2
# VSCode specific files
*.json
# Binaries
wkhtmlto*
# Cache
__pycache__/**
# Other files
.env
*.pdf
# Output files
template_out.html